<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
  <tbody>
    <tr>
      <td>Diagonal</td>
      <td>{{ product.diagonal }}</td>
    </tr>
    <tr>
      <td>Type of Display</td>
      <td>{{ product.display_type }}</td>
    </tr>
    <tr>
      <td>Displey pixel</td>
      <td>{{ product.resolution }}</td>
    </tr>
    <tr>
      <td>Battery</td>
      <td>{{ product.accum_volume }}</td>
    </tr>
    <tr>
      <td>OP</td>
      <td>{{ product.ram }}</td>
    </tr>
    <tr>
      <td>Memory cart</td>
      <td>{{ product.sd }}</td>
    </tr>
    <tr>
      <td>Max OP</td>
      <td>{{ product.sd_volume_max }}</td>
    </tr>
    <tr>
      <td>Main Camera</td>
      <td>{{ product.main_cam_mp }}</td>
    </tr>
    <tr>
      <td>Front Camera</td>
      <td>{{ product.frontal_cam_mp }}</td>
    </tr>

  </tbody>
</table>

</body>
</html>